<link rel="stylesheet" type="text/css" href="views/questionnaire/css/questionnaire.css">

<div class="col-md-12" id="questionnaireView" ng-show="!attemptingSubmit">
    <div  id="commuteLabel" style="text-align:center">
        <label>
            <input type="checkbox" id="chkbx" ng-model="useCommute"><span class="checkboxtext">Set work commute time limit</span><br>
        </label>
    </div>

    <div class="col-md-offset-3 col-md-6" id="workplaceDiv" ng-show="useCommute" style="z-index:1">
        <div class="col-md-12" id="minuteDiv">
            <h4>I want my commute to work to be less than <b>{{timeLimit}}</b> minutes</h4>
            <sliderbar time-limit="timeLimit"></sliderbar>
        </div>

        <div class="input-group"  id="workplace" style="width:100%">
            <input id="workplaceBox" type="text" class="form-control" ng-change="isValidWorkplace=false"
                   ng-model="temp" placeholder="Work address">
        </div>
        <p style ="color:red" ng-show="workplaceError">{{workplaceError}}</p>
    </div>

    <div ng-repeat="question in questions track by $index">
        <div class="container-fluid" id="{{question.id}}" >
            <question question = question questionid = questionid></question>
        </div>
    </div>

    <div id="submitDiv" style="z-index:100">
      <button class="button" ng-style ="{background: (ready ? '#F44336' : 'grey')}"
              type="submit" ng-click="submitAnswers()" ng-disabled="!ready">
          <span class="checkmark"></span>
      </button>
    </div>

</div>
<div id="loading" ng-show="attemptingSubmit"></div>
