<div class="container-fluid">
    <div class="col-md-12">
        <div class="questionText"> {{question.text}}</div>
        <div
            class="answerDiv">
            <div
                class="well answerText"
                ng-class="{hoverAnswer : hover, selectedAnswer : selected}"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                ng-repeat="option in question.options"
                ng-click="select()">
                {{option}}
            </div>
        </div>
    </div>
</div>