.ext {
    width: 100%;
    padding: 6px 0;
}

.ext:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #000000;
}

/*.ext:after {
    position: absolute;
    left: 0;
    width: 50%;
    height: 1px;
    background: #fff;
    content: "";
    display: block;
}*/

.bar.red {
    background-color: red;
}

.bar.green {
    background-color: green;
}

.bar {
    width: 10%;
    height: 7px;
    background-color: #2196F3;
}
