#navbar {
    height: 40px;
    margin-bottom: 1px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 15px 20px -6px #999;
}

.mapBtn{
    margin-left: 5px;
    margin-right: 5px;
}

.mapPageBtns{
    margin-top: 2px;
    margin-right: 5px;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}

 #searchModal{
     padding-left: 15px;
     padding-right: 15px;
 }

 #myModalHeader{
     padding-left: 0px;
     padding-right: 0px;
     border : none;
 }

 #view {
     padding-top: 45px;
 }
