.questionContainer{
    margin-top: 30px;
    height : 100vh;
}


.questionText{
    text-align:center;
    margin-top: 100px;
    margin-bottom:50px;
    font-size : 40px;
}

.answerDiv{
    margin-right: -15px;
}

.well.answerText{
    height: 90px;
    font-size: 20px;
    text-align:center;
    float:left;
    width: 32%;
    margin-right: 15px;
    box-shadow: 0 3px 3px -3px #999;
}

.hoverAnswer {
    background-color: #009fd3;
}

.selectedAnswer {
    background-color: #00d39e;
}
