
.questionContainer{
    margin-bottom: 70px;
}

.questionText{
    text-align:center;
    font-size : 40px;
    margin-bottom: 20px;
}

.checkboxtext
{
    font-size: 30px;
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
}

.answersDiv{
    margin-left:90px;
}

.answers{
    cursor: pointer;
    font-size: 20px;
    text-align:center;
    box-shadow: 0 3px 3px -3px #999;
    height: 100px;
    margin: 25px;
}

.hoverAnswer {
    background-color: #009fd3;
}

.selectedAnswer {
    background-color: #00d39e;
}

#bufferDiv{
    margin-bottom: 83px;
}

#workplace{
    margin-bottom: 5px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#minuteDiv{
    margin-bottom: 20px;
}

#workplaceDiv{
    height: 260px;
    padding: 45px;
    border-color: dimgray;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 80px;
}

#chkbx{
    width:40px;
    height:40px;
}

#submitDiv{
    position: fixed; bottom: 40px; right: 50px;
}

.button {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    border: 0px solid #000;
    background: #F44336 url("../images/ic_done_white.png") 15px 15px no-repeat;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 15px 20px -6px #999;
}

.disabled {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    border: 0px solid #000;
    background: grey url("../images/ic_done_white.png") 15px 15px no-repeat;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 15px 20px -6px #999;
}


.lastAnswers{
    margin-left: 125px;
}


#commuteLabel{
    margin-bottom: 30px;
}