#map {
    height:92vh;
}

#snapContainer {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#content {
    height: 100%;
    width: 120%;
    overflow: auto;
}

.name{
    cursor: pointer;
}

.btnLabel{
    float : right;
    margin-top : 7px;
}