#map {
    height:92vh;
}

#snapContainer {
    height: 100%;
    overflow: hidden;
}

#content {
    height: 100%;
    width: 105%;
    overflow: auto;
}

.labelDiv{
    margin-left: 10px;
    margin-right: 20px;
}

.detailLabelDiv{
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.name{
    cursor: pointer;
    margin-bottom: 0px;
    display: inline-block;
}

.expandButton{
    margin-top: 30px;
    float:right;
    cursor: pointer;
}


.rating{
    margin-left: 10px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.charts{
    text-align: center;
    margin-left: -15px;
    margin-bottom :-20px;
    height:100%;
}

.categoryLabel {
    font-size: 13pt;
    margin-bottom: 9px;
    display: block;
}

.neightborhoodDivider{
    margin-bottom:-6px;
}
