::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
    overflow-x:hidden;
}

#map {
    /*height:92vh;*/
}

#snapContainer {
    height: 100%;
    overflow: hidden;
}

#content {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}

.labelDiv{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
}

.detailLabelDiv{
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.name{
    cursor: pointer;
    margin-bottom: 0px;
    display: inline-block;
}

.expandButton{
    margin-top: 30px;
    float:right;
    cursor: pointer;
}


.rating{
    margin-left: 10px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.charts{
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom :-20px;
    height:100%;
}

.categoryLabel {
    font-size: 13pt;
    margin-bottom: 9px;
    display: block;
}

.neighborhoodDivider{
    margin-bottom:-6px;
    width : 100%;
}

.minuteDivider{
    width : 100%;
    margin-bottom: 0px;
}

.leftPanel {
    -webkit-box-shadow: 0 8px 6px -1px #999;
    -moz-box-shadow: 0 8px 6px -1px #999;
    box-shadow: 0 15px 20px -1px #999;
}