<link rel="stylesheet" type="text/css" href="views/map/css/map.css">
<link rel="stylesheet" type="text/css" href="views/map/css/snap.css">
<link rel="stylesheet" type="text/css" href="views/map/css/angular-snap.css">
<!--  glyphicon glyphicon-star
                    glyphicon glyphicon-chevron-up
                    glyphicon glyphicon-chevron-down
                    glyphicon glyphicon-menu-down !-->
<div class="col-md-12" id="snapContainer">
    <div snap-drawer class="col-md-3">
        <div class="container col-md-3" id="content">
            <div ng-repeat="preference in preferences track by $index">
                <div class="labelDiv">
                    <h3 class="name" ng-click="details($index)">
                        {{preference.name}}</span>
                    </h3>
                    <span class="glyphicon glyphicon-menu-right expandButton" aria-hidden="true"
                          ng-click="details($index)"></span>
                    <div class="rating">
                        <span ng-repeat="good in getStars(preference.numSatisfying) track by $index"
                              class="glyphicon glyphicon-star" aria-hidden="true">
                        </span><span ng-repeat="bad in getStars(5 - preference.numSatisfying) track by $index"
                                     class="glyphicon glyphicon-star-empty" aria-hidden="true">
                        </span>
                    </div>
                </div>


                <div collapse="preference.isCollapsed">
                    <div ng-show="!preference.isCollapsed" class="panel-body" ng-repeat="(key, val) in preference.satisfyingPreferences">
                        <span class="label label-success">{{key}} : {{val*100 | number:0}}%</span>
                    </div>

                    <div ng-show="!preference.isCollapsed" class="panel-body" ng-repeat="(key, val) in preference.badPreferences">
                        <span class="label label-danger">{{key}} : {{val*100 | number:0}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-md-offset-3" id="map">
    </div>
</div>

