<link rel="stylesheet" type="text/css" href="views/map/css/map.css">
<link rel="stylesheet" type="text/css" href="views/map/css/snap.css">
<link rel="stylesheet" type="text/css" href="views/map/css/angular-snap.css">
<!--  glyphicon glyphicon-star
                    glyphicon glyphicon-chevron-up
                    glyphicon glyphicon-chevron-down
                    glyphicon glyphicon-menu-down !-->
<div class="row" id="snapContainer">
    <div snap-drawer class="col-md-3" >
        <div class="container" id="content">
            <div ng-repeat="preference in preferences track by $index">
                <h3 class="name" ng-click="details($index)" ng-style="{'color' : preference.selectedColor}">
                    {{preference.name}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </h3>
                <div class="rating">
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </div>

                    <!--(preference.isCollapsed? preference.fillColor : preference.selectedColor)} !-->


                <div collapse="preference.isCollapsed">
                    <div ng-show="!preference.isCollapsed" class="panel-body" ng-repeat="(key, val) in preference.satisfyingPreferences">
                        <span class="label label-success">{{key}} : {{val*100 | number:0}}%</span>
                    </div>

                    <div ng-show="!preference.isCollapsed" class="panel-body" ng-repeat="(key, val) in preference.badPreferences">
                        <span class="label label-danger">{{key}} : {{val*100 | number:0}}%</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-9 col-md-offset-3" id="map">
    </div>
</div>

