.vertical-center {
    overflow: hidden;
    min-height: 94%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 94vh; /* These two lines are counted as one :-)       */

    display: flex;
    /*align-items: center;*/
}

#landingDiv{
    background-image:   url('../images/ChicagoSkyline.jpg');
    background-size:    cover;
}

#searchDiv{
    margin-top: 50px;
}
#landingText{

    color : white;
}
