body {
    background: url('../images/ChicagoSkyline.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#searchDiv{
    margin-top: 80px;
}
#landingText{
    margin-bottom: 20px;
    color : black;
}
