<link rel="stylesheet" type="text/css" href="views/map/directives/css/bar.css">
<div class="detailPanel" style="margin-top:10px">
    <div class="name" ng-click="returnToResults()"><span class="glyphicon glyphicon-arrow-left"></span> Return to all results </div>
    <div class="detailLabelDiv">

        <h3 class="name unselectable">
            {{preference.name}}</span>
        </h3>
        <div class="rating">
            <span ng-repeat="good in getStars(preference.numSatisfying) track by $index"
                  class="glyphicon glyphicon-star" aria-hidden="true">
            </span><span ng-repeat="bad in getStars(5 - preference.numSatisfying) track by $index"
                         class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
        </div>
    </div>


    <div class="charts container-fluid well">
      <span>Your Selections: </span><span class="glyphicon glyphicon-triangle-top"></span>
      <div class="panel-body col-md-12" ng-repeat="(key,val) in preference.allCriteria">
          <div ng-if="val" class="categoryLabel">{{categories[key]}}</div>
          <div ng-if="val" ng-class="{'ext col-md-6': true}">
              <div ng-style="{'width': (val.value>2?100:val.value*50)+'%'}" class="bar"></div>
          </div>
          <div ng-style="{'left': displayPreference(key, preference.normalizedPreferences[key])+'%'}" class="glyphicon glyphicon-triangle-top"></div>
      </div>
      <div>City Average</div>
    </div>
</div>
