<link rel="stylesheet" type="text/css" href="views/map/directives/css/bar.css">
<div class="detailPanel">
    <div class="name" ng-click="returnToResults()"><span class="glyphicon glyphicon-arrow-left"></span> Return to all results </div>
    <div class="detailLabelDiv">

        <h3 class="name unselectable">
            {{preference.name}}</span>
        </h3>
        <div class="rating">
            <span ng-repeat="good in getStars(preference.numSatisfying) track by $index"
                  class="glyphicon glyphicon-star" aria-hidden="true">
            </span><span ng-repeat="bad in getStars(5 - preference.numSatisfying) track by $index"
                         class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
        </div>
    </div>


    <div class="charts container-fluid well">
        <div class="panel-body col-md-12" ng-repeat="(key, val) in preference.goodCriteria">
            <div class="categoryLabel"> {{categories[key]}} </div>
            <div ng-class="{'ext col-md-6': true, 'right': val > 0, 'left': val <= 0}"><div ng-style="{'width': (((val<0)?val*-1:val)>1?100:((val<0)?val*-100:val*100))+'%'}" ng-class="{'bar green': true, 'left': val <= 0}"></div></div>
        </div>

        <div class="panel-body col-md-12" ng-repeat="(key, val) in preference.badCriteria">
            <div class="categoryLabel">{{categories[key]}}</div>
            <div ng-class="{'ext col-md-6': true, 'right': val > 0, 'left': val <= 0}"><div ng-style="{'width': (((val<0)?val*-1:val)>1?100:((val<0)?val*-100:val*100))+'%'}" ng-class="{'bar red': true, 'left': val <= 0}"></div></div>
        </div>
    </div>
</div>

