<div class="container-fluid col-md-11 questionContainer">
    <div class="questionText col-md-offset-1"> {{question.text}}</div>
    <div class="answersDiv">
        <div class="row">
            <div
                class="well well-lg col-md-3 col-md-offset-1 col-xs-12 answers"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                ng-class="{hoverAnswer : hover, selectedAnswer : $index == selected}",
                ng-repeat="option in question.options.slice(0,3) track by $index"
                ng-click="select($index)">
                    <p>{{option}}</p>
            </div>
        </div>
        <div class="row">
            <div
                class="well well-lg col-md-3 col-xs-12 answers"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                ng-class="{hoverAnswer : hover, selectedAnswer : secondIndex($index) == selected,
                'col-md-offset-3' : secondIndex($index) == 3,
                'col-md-offset-1' : secondIndex($index) == 4}",
                ng-repeat="option in question.options.slice(3) track by secondIndex($index)"
                ng-click="select(secondIndex($index))">
                    <p>{{option}}</p>
            </div>
        </div>
    </div>
</div>
