<div class="container-fluid col-md-12 questionContainer">
    <div class="questionText"> {{question.text}}</div>
    <div class="answersDiv">
        <div
            class="well well-lg col-md-3 answers container"
            ng-class="{hoverAnswer : hover, selectedAnswer : $index == selected, lastAnswers : $index == 3 || $index == 4}"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false"
            ng-repeat="option in question.options track by $index"
            ng-click="select($index)">
                {{option}}
        </div>
    </div>
</div>